#tabs {
    flex-direction: row;
    background-color: rgb(229, 223, 223);
    font-size: 12px;
    -unity-font-style: bold;
    font-size: 14px;
}

.tab {
    flex-grow: 1;
}

.currentlySelectedTab {
    background-color: rgb(173, 166, 166);
}

#tabContent {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.unselectedContent {
    display: none;
}

.lablel {
    font-size: 53px;
    align-self: center;
    justify-content: center;
    align-items: center;
}
